<div class="item mb-5" > 
    <div class="row g-3 g-xl-0">
        <div class="col-2 col-xl-3">
            <img class="img-fluid post-thumb " src="assets/assets/images/blog/{{postImagem}}" alt="image">
        </div>
        <div class="col">
            <h3 class="title mb-1"><a class="text-link" routerLink="/blogpost/{{post_Id}}/{{postSeoTitulo}}">{{postTitulo | indexPostPipe : postId | uppercase }}</a> </h3>
            <div class="meta mb-1"><span class="date">{{postDataPublicacao}}</span><span class="time">{{postTempoDeLeitura}}</span><span class="comment"><a class="text-link" href="#">{{postTempoDeLeitura}}</a></span></div>
            <div class="intro">{{postPequenaDescricao}}</div>
            <a class="text-link" routerLink="/settings/{{post_Id}}">Editar Post</a>
        </div><!--//col-->
        <div class="col-12 col-md-2">
            <button class="btn btn-primary" (click)="apagaPost()">Apagar Post</button>
        </div>
    </div><!--//row-->
</div><!--//item-->